<!--<div class="o-layout__item  u-4/12@lg">

  <h4>Footer Title</h4>

    <ul class="o-list-bare">
      <li><a href="#0">Footer Sub Title</a></li>
      <li><a href="#0">Footer Sub Title</a></li>
      <li><a href="#0">Footer Sub Title</a></li>
      <li><a href="#0">Click for more...</a></li>
    </ul>

</div>

<div class="o-layout__item  u-4/12@lg">

  <h4>Footer Title</h4>

    <ul class="o-list-bare">
      <li><a href="#0">Footer Sub Title</a></li>
      <li><a href="#0">Footer Sub Title</a></li>
      <li><a href="#0">Footer Sub Title</a></li>
      <li><a href="#0">Click for more...</a></li>
    </ul>

</div>

<div class="o-layout__item u-4/12@1g">

  <h4>Footer Title</h4>

    <ul class="o-list-bare">
      <li><a href="#0">Footer Sub Title</a></li>
      <li><a href="#0">Footer Sub Title</a></li>
      <li><a href="#0">Footer Sub Title</a></li>
      <li><a href="#0">Click for more...</a></li>
    </ul>

</div>

<hr class="c-splitter" />

<p><small>Brown cats with pink ears. Pushes butt to face scratch leg; meow for
can opener to feed me and ask to go outside and ask to come inside and ask to
go outside and ask to come inside. Kitty poochy sit in box, fall over dead
(not really but gets sypathy) woops poop hanging from butt must</small></p>

-->
