<img src="./public/images/logo-nhs.png" alt="NHS" width="74" height="30" class="c-page-header__logo" />

<strong class="c-page-header__title">Leadership Academy</strong>

<button class="c-nav-trigger" id="jsNavTrigger">☰</button>

<nav class="c-nav-primary  c-page-header__nav">

  <!--<ul class="c-nav-primary__list" id="jsNav">

  <li class="c-nav-primary__item">
    <a href="#0" class="c-nav-primary__link">About</a>
  </li>

  <li class="c-nav-primary__item">
    <a href="#0" class="c-nav-primary__link">Examples</a>

  </ul>-->

</nav>
