
<a href="/" class="c-page-header__lockup">
  <img src="./public/images/logos/nhs-leadership-academy.png" alt="NHS Leadership
Academy" width="204" height="62" class="c-page-header__logo" />
</a>


<div class="c-page-header__controls">
  <button class="c-nav-trigger" id="jsNavTrigger" aria-label="menu" data-expands="#jsNav">☰</button>

  <nav class="c-nav-primary" id="primaryNav">

    <ul class="c-nav-primary__list" id="jsNav">

      <li class="c-nav-primary__item">
        <a href="/about" class="c-nav-primary__link">About</a>
      </li>

      <li class="c-nav-primary__item">
        <a href="/examples" class="c-nav-primary__link">Examples</a>

    </ul>

  </nav>

</div>
