<div class="c-ribbon  c-ribbon--alpha">
 <div class="c-ribbon__icon">
   <strong class="c-ribbon__tag">Beta</strong>
 </div>
 <strong class="c-ribbon__body">Pellentesque habitant morbi tristique
    <a href="#0">senectus et netus</a> et malesuada fames ac turpis egestas.
    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet,
    ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi
    vitae est. Mauris placerat eleifend leo.</strong>
 <div class="c-ribbon__close">&times;</div>
</div>
