// ==========================================================================
// #Talent Management Reports CSS
// ========================================================================== */

// In this file, we add any additional CSS required for Talent Management Report
// templates.


.report-description-text {
  color: #768692;
  width: 50%;
}

.report-stats {
  font-size: 1.2rem;
}

.graph-report-redtext {
  color: red;
}

.graph-report-greentext {
  color: #00a499;
}
