{% extends "layout.html" %}

{# {% set phase = "includes/phase_banner_beta.html" %} #}

{% block body %}
    {% block content %}
    {# Get some basic content written in #}
    <div class="o-wrapper">
      <h1>The NHS prototype kit<h1/>
      <h2>{{releaseVersion}}</h2>

      <p>This kit lets you rapidly create HTML prototypes of NHS Leadership
      Academy's work</p>

      <p>It contains all you need to prototype anything from simple static pages
      to complex, visual documents.</p>

      <h3>About this page</h3>

      <p>We recommend you add links to your prototype to this page, rather than
      deleting it. You'll find this page in the kit at '/app/views/index.html'.</p>

      <h3>Examples</h3>
        <ol>
          <li><a href="#0">Kitty</a></li>
          <li><a href="#0">Cat</a></li>
        </ol>
    </div>
    {% endblock %}

{% endblock %}

