{% extends "layout.html" %}

{#{% set phase = "includes/phase_banner_alpha.html" %} #}

{% block body %}
    {% block content %}
      <div class="o-wrapper">

        <img src="images/logo-nhs.png" alt="" height="52" class="u-margin-bottom" style="vertical-align: middle;" />

        {% block report_heading %}
          <h2>Understanding concepts</h2>
        {% endblock %}

        {% block report_description %}
          <p class="report-description-text">What this is in a paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
        {% endblock %}

        {% block stats_summary_heading %}
          <h1>{{graphReportSummary}}</h1>
          <p>organisation wide rating in this domain</p>
          <p></p>
        {% endblock %}

        {% block stats_section %}
          <div class="o-layout">
            <div class="o-layout__item  u-8/12@lg">

              <strong class="report-stats">{{graphOrgExperience}}</strong>
              <p class="report-description-text">variance in experience across the organisation in this domain</p>

              <strong class="report-stats">{{graphStaffExperienceScore}}</strong>
              <p class="report-description-text">experience amongst staff than HR / TM /OD leads expect</p>

              <strong class="report-stats graph-report-redtext">{{graphBetterExperienceStaff}}</strong>
              <p class="report-description-text">have a better experience of the organisation in this domain</p>

            </div>

            <div class="o-layout__item  u-4/12@lg">

              <strong class="report-stats graph-report-greentext">{{graphLowerExperienceStaff}}</strong>
              <p class="report-description-text">have a lower experience of the organisation in this domain</p>

              <strong class="report-stats">{{graphHigherRegionOrgs}}</strong>
              <p class="report-description-text">organisations in your region rate higher in this domain</p>

              <strong class="report-stats">{{graphHigherNationalOrgs}}</strong>
              <p class="report-description-text">organisations nationally rate higher in this domain</p>

            </div>
          </div>
        {% endblock %}
        <br/><br/>
        {% block graph_section %}
        <div class="o-layout">
          <div class="o-layout__item  u-3/12@lg">
            <p></p>
            <p>&nbsp;</p>
            <p>HR / TM / OD Lead perspective</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>Senior Leaders perspective</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>Other staff perspective</p>
          </div>
          <div class="o-layout__item  u-3/12@lg">
            <p>Low</p>
            <p>&nbsp;</p>
            <svg>
              <circle cx="{{leadPerspectiveLowScore/2}}" cy="{{leadPerspectiveLowScore/2}}" r="{{leadPerspectiveLowScore/2}}" fill="red" />
              Sorry, your browser does not support inline SVG.
              <text x="175" y="20" text-anchor="middle" stroke="#768692">{{leadPerspectiveLowScore}}%</text>
            </svg>
            <svg>
              <circle cx="{{seniorLeadPerspectiveLowScore/2}}" cy="{{seniorLeadPerspectiveLowScore/2}}" r="{{seniorLeadPerspectiveLowScore/2}}" fill="#CC6600" />
              Sorry, your browser does not support inline SVG.
              <text x="175" y="30" text-anchor="middle" stroke="#768692">{{seniorLeadPerspectiveLowScore}}%</text>
            </svg>
            <svg>
              <circle cx="{{otherStaffPerspectiveLowScore/2}}" cy="{{otherStaffPerspectiveLowScore/2}}" r="{{otherStaffPerspectiveLowScore/2}}" fill="#00A498" />
              Sorry, your browser does not support inline SVG.
              <text x="175" y="40" text-anchor="middle" stroke="#768692">{{otherStaffPerspectiveLowScore}}%</text>
            </svg>
          </div>

          <div class="o-layout__item  u-3/12@lg">
            <p>Developing</p>
            <p>&nbsp;</p>
            <svg>
              <circle cx="{{leadPerspectiveDevScore/2}}" cy="{{leadPerspectiveDevScore/2}}" r="{{leadPerspectiveDevScore/2}}" fill="red" />
              Sorry, your browser does not support inline SVG.
              <text x="175" y="30" text-anchor="middle" stroke="#768692">{{leadPerspectiveDevScore}}%</text>
            </svg>
            <svg>
              <circle cx="{{seniorLeadPerspectiveDevScore/2}}" cy="{{seniorLeadPerspectiveDevScore/2}}" r="{{seniorLeadPerspectiveDevScore/2}}" fill="#CC6600" />
              Sorry, your browser does not support inline SVG.
              <text x="175" y="16" text-anchor="middle" stroke="#768692">{{seniorLeadPerspectiveDevScore}}%</text>
            </svg>
            <svg>
              <circle cx="{{otherStaffPerspectiveDevScore/2}}" cy="{{otherStaffPerspectiveDevScore/2}}" r="{{otherStaffPerspectiveDevScore/2}}" fill="#00A498" />
              Sorry, your browser does not support inline SVG.
              <text x="175" y="16" text-anchor="middle" stroke="#768692">{{otherStaffPerspectiveDevScore}}%</text>
            </svg>
          </div>

          <div class="o-layout__item  u-3/12@lg">
            <p>Good</p>
            <p>&nbsp;</p>
            <svg>
              <circle cx="{{leadPerspectiveGoodScore/2}}" cy="{{leadPerspectiveGoodScore/2}}" r="{{leadPerspectiveGoodScore/2}}" fill="red" />
              Sorry, your browser does not support inline SVG.
              <text x="175" y="18" text-anchor="middle" stroke="#768692">{{leadPerspectiveGoodScore}}%</text>
            </svg>
            <svg>
              <circle cx="{{seniorLeadPerspectiveGoodScore/2}}" cy="{{seniorLeadPerspectiveGoodScore/2}}" r="{{seniorLeadPerspectiveGoodScore/2}}" fill="#CC6600" />
              Sorry, your browser does not support inline SVG.
              <text x="175" y="15" text-anchor="middle" stroke="#768692">{{seniorLeadPerspectiveGoodScore}}%</text>
            </svg>
            <svg>
              <circle cx="{{otherStaffPerspectiveGoodScore/2}}" cy="{{otherStaffPerspectiveGoodScore/2}}" r="{{otherStaffPerspectiveGoodScore/2}}" fill="#00A498" />
              Sorry, your browser does not support inline SVG.
              <text x="175" y="15" text-anchor="middle" stroke="#768692">{{otherStaffPerspectiveGoodScore}}%</text>
            </svg>
          </div>

        </div>

        {% endblock %}
        <br/><br/>

      </div>
    {% endblock %}

{% endblock %}
